<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<!-- URL Schemes for Google Sign-In OAuth callback -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- iOS Client REVERSED_CLIENT_ID from GoogleService-Info.plist -->
				<string>com.googleusercontent.apps.1005445939198-ksp13b87meip2vriimojmh87k11qakvu</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
